/* ------------------頁面內容------------------------ */
.container {
  width: 1440px;
}

/* 麵包屑 */
.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 40px 0px;
  /*test*/
  display: flex;
  align-items: center;
  font-family: var(--font-noto-sans);
  font-size: var(--fs-p);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  .breadcrumb-item {
    text-decoration: none;

    & a {
      color: var(--color-text-dark);
      text-decoration: none;
    }
  }

  .back-button {
    display: none;
    text-decoration: none;
    color: #322826;
  }
}

/* RWD 麵包屑 */
@media screen and (max-width: 375px) {
  .breadcrumb {
    margin: 20px 0;
  }

  .breadcrumb-item a {
    display: none;
  }

  /* 這個是隱藏BS自帶麵包屑的/線 */
  .breadcrumb-item::before {
    display: none;
  }

  .breadcrumb .back-button {
    display: inline-block;
    font-family: var(--font-noto-sans);
    /* 顯示按鈕 */
  }
}

/* 選單*/
.menu-articles {
  display: flex;
  justify-content: start;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.menu-article {
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-primary-light);
  color: var(--color-text-dark);
}

.menu-article a {
  font-family: var(--font-noto-sans);
  text-decoration: none;
  color: inherit;
}

.menu-article a :hover {
  background-color: var(--color-primary-dark);
  color: var(--color-text-light);
}

/* RWD選單 */
@media screen and (max-width: 375px) {
  .menu-articles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style: none;
    background-color: #fffdfd;
    overflow-x: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .menu-article {
    padding: 12px 16px;
    border-radius: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: var(--color-text-light);
  }

  .menu-article a {
    width: 100%;
    color: var(--color-text-dark);

    &:hover {
      background-color: white;
    }
  }

  .menu-article-active a {
    padding: 4px 12px;
    border-radius: 4px;
    color: var(--color-text-light);
    background-color: var(--color-secondary-dark);
  }

  /* 部分選單隱藏 */
  .menu-article:nth-child(1),
  .menu-article:nth-child(5) {
    display: none;
  }
}

/* 排序 */
.article-search {
  display: flex;
  gap: 32px;
  color: var(--color-text-dark);
  display: flex;
  align-items: center;
  margin-left: auto;

  & a {
    text-decoration: none;
    color: var(--color-text-dark);
    align-items: center;
    font-family: var(--font-noto-sans);
  }
}

/* RWD排序 */
@media screen and (max-width: 375px) {
  .article-search {
    display: none;
  }
}

/* 卡片 */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-items: start;
  margin-top: 40px;
  gap: 40px;
}

.card {
  border-style: none;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-primary-light);
}

.articel-img {
  & img {
    width: 100%;
  }
}

.article-text {
  align-items: center;
  flex-wrap: wrap;
}

.article-text h3 {
  font-family: var(--font-noto-sans);
  font-size: var(--fs-p);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.article-text time {
  color: var(--color-text-dark);
  font-family: 'Noto Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.article-text p {
  color: var(--color-text-dark);
  font-family: 'Noto Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 375px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 10px;
    gap: 16px 10px;
  }

  .cards-container hr {
    display: none;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    border-radius: 0;
    border-bottom: 0.1px solid var(--color-primary-medium);
  }

  .articel-img {
    flex: 1;
    width: 72px;
    height: auto;

    & img {
      width: 100%;
    }
  }

  .article-text {
    flex: 2;
    align-self: stretch;
    font-size: var(--fs-hint);
    font-style: normal;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .article-text h3 {
    align-self: stretch;
    font-size: var(--fs-hint);
    font-style: normal;
    font-family: var(--font-noto-sans);
    font-weight: 400;
  }

  .article-text time {
    font-size: 10px;
    font-family: var(--font-inter);
  }

  .article-text p {
    font-size: var(--fs-hint);
    font-style: normal;
    font-family: var(--font-noto-sans);
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 227px;
  }
}

/* 分頁 */
.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.pagination a {
  padding: 5px 10px;
  margin: 120px 10px;
  border-radius: 4px;
  text-decoration: none;
  font-family: var(--font-inter);
  color: var(--color-text-dark);
}

.pagination .active {
  background-color: var(--color-secondary-light);
}

.pagination-number:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-text-light);
}

.pagination-arrow:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-text-light);
}

.pagination-arrow {
  color: #fff;
}

@media screen and (max-width: 375px) {
  .pagination {
    display: none;
  }
}

/* ----------------------頁面RWD--------------------- */

/* footer */
.footer-container {
  background-color: var(--color-secondary-dark);
  color: var(--color-text-light);
  padding: 20px 100px;

  .info {
    .logo {
      color: var(--color-text-light);
      font-family: var(--font-playfair);
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      & a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  & .link {
    .title {
      margin-bottom: 8px;
      font-family: var(--font-noto-serif);
      font-size: 20px;
      margin-bottom: 12px;
    }

    & span {
      font-family: var(--font-noto-sans);
      margin-bottom: 8px;
      display: block;

      & a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 10px 20px 16px 20px;
    font-size: 12px;

    .info {
      .logo {
        font-size: 32px;
      }
    }

    .links {
      .title {
        font-size: 14px;
      }
    }
  }
}
