.main {
  display: grid;
  grid-template-columns: 3fr 1fr; // 3 列寬度給 ArticleDetail，1 列寬度給 SideContent
  gap: 40px; // 列間距
}

.sidecontent .side-content {
  display: flex;
  flex-direction: column;
  gap: 16px; // 卡片間距

}
