.course-details-container {
  display: flex; // 使用 Flexbox 排版
  align-items: flex-start; // 确保左侧栏的图片与右侧栏的内容对齐
  margin-bottom: 60px;
}

.back-button {
  position: absolute; // 绝对定位
  top: 20px; // 距离顶部 20px
  left: 20px; // 距离左侧 20px
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1em;
  color: #322826;

  img {
    margin-right: 10px;
  }

  &:hover {
    color: #211c1a;
  }
}
